.jumbotron {
  color: #212529;
  padding-top: 8rem;
}

.project-h2 {
  padding-top: 6rem;
}

footer {
  color: #ffffff;
  height: 6rem;
  margin: 0;
}

footer h4 {
  padding-top: 2rem;
}

.github-link {
  color: hsl(0, 0%, 100%);
  transition: color 0.2s;
}

.github-link:hover {
  color: hsl(0, 0%, 60%);
}
